<?xml version="1.0"?>
<config>
    <modules>
        <Stnc_Uploader>
            <version>0.11.0</version>
        </Stnc_Uploader>
    </modules>
    <frontend>
        <routers>
            <uploader>
                <use>standard</use>
                <args>
                    <module>Stnc_Uploader</module>
                    <frontName>stncuploader</frontName>
                </args>
            </uploader>
        </routers>
  
    </frontend>
    <admin>
        <routers>
			<uploader>
				<use>admin</use>
				<args>
					<module>Stnc_Uploader</module>
					<frontName>uploader</frontName>
				</args>
			</uploader>
        </routers>
    </admin>
    <adminhtml>
		

		
		<menu>
		       <catalog>             
				<children>
					<items module="uploader">
						<title>MNM Uploader</title>
						<sort_order>900</sort_order>
						<action>uploader/adminhtml_videoupload</action>
						  <children>
						    <videoupload module="uploader">
							<title>Videolar</title>
							<sort_order>0</sort_order>
							<action>uploader/adminhtml_videoupload</action>
						   </videoupload>
						   
						    <videoupload_new module="uploader">
							<title>Video Ekle</title>
							<sort_order>10</sort_order>
							<action>uploader/adminhtml_videoupload/new</action>
						   </videoupload_new>
					
						  </children>
					</items>
				</children>
		       </catalog>
		</menu>
		
		<acl>
			<resources>
				<all>
					<title>Allow Everything</title>
				</all>
				<admin>
				<children>
				    <catalog>             
						<children>
						  <items module="uploader">
								<title>MNM Uploader</title>
								<sort_order>900</sort_order>
								<action>uploader/adminhtml_videoupload</action>
								  <children>
									<videoupload module="uploader">
									<title>Videolar</title>
									<sort_order>0</sort_order>
									<action>uploader/adminhtml_videoupload</action>
								   </videoupload>
								   
									<videoupload_new module="uploader">
									<title>Video Ekle</title>
									<sort_order>10</sort_order>
									<action>uploader/adminhtml_videoupload/new</action>
								   </videoupload_new>
					
						  </children>
					  </items>
				   </children>
		       </catalog>
			</children>
				</admin>
			</resources>
		</acl>
		<layout>
			<updates>
				<uploader>
					<file>stnc_uploader.xml</file>
				</uploader>
			</updates>
		</layout>
    </adminhtml>   
    <global>
        <models>
            <uploader>
                <class>Stnc_Uploader_Model</class>
                <resourceModel>uploader_mysql4</resourceModel>
            </uploader>
            <uploader_mysql4>
                <class>Stnc_Uploader_Model_Mysql4</class>
                <entities>
                            
					   <videoupload>
                        <table>stnc_videoupload</table>
                    </videoupload>
                </entities>
            </uploader_mysql4>
        </models>
        <resources>
            <uploader_setup>
                <setup>
                    <module>Stnc_Uploader</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </uploader_setup>
            <uploader_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </uploader_write>
            <uploader_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </uploader_read>
        </resources>
        <blocks>
            <uploader>
                <class>Stnc_Uploader_Block</class>
            </uploader>
        </blocks>
        <helpers>
            <uploader>
                <class>Stnc_Uploader_Helper</class>
            </uploader>
        </helpers>
    </global>
</config>